[user]
	name = Arik Maor
	email = arikmaor@gmail.com
[core]
	excludesfile = ~/.gitignore
	editor = nvim
	attributesfile = ~/.gitattributes
	autocrlf = input
[push]
	default = simple
[rebase]
	autosquash = true
[advice]
	detachedhead = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
[credential "https://github.com"]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[include]
	path = ~/.gitconfig.local
