# [user]
# 	name = Arik Maor
# 	email = arikmaor@gmail.com
[include]
	path = ~/dotfiles/.gitconfig.local
[core]
	excludesfile = ~/dotfiles/.gitignore
	editor = nvim
	attributesfile = ~/.gitattributes
	autocrlf = input
[push]
	default = simple
[rebase]
	autosquash = true
[advice]
	detachedhead = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/
[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/

[init]
	defaultBranch = master
[alias]
	diff-image = "!f() { cd -- \"${GIT_PREFIX:-.}\"; GIT_DIFF_IMAGE_ENABLED=1 git diff \"$@\"; }; f"
[diff "image"]
	command = ~/git-diff-image/git_diff_image
