# [user]
# 	name = Arik Maor
# 	email = arikmaor@gmail.com
[include]
	path = ~/.dotfiles/.gitconfig.local
[core]
	excludesfile = ~/.dotfiles/.gitignore
	editor = nvim
[push]
	default = simple
[rebase]
	autosquash = true
[advice]
	detachedhead = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/
[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
