# [user]
# 	name = Arik Maor
# 	email = arikmaor@gmail.com
[include]
	path = ~/.dotfiles/.gitconfig.local
[core]
	excludesfile = ~/.dotfiles/.gitignore
[push]
	default = simple
[rebase]
	autosquash = true
[advice]
	detachedhead = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
