[Unit]
Description=integrated keyboard kmonad
After=network.target

[Service]
Type=simple
ExecStart=kmonad /home/arik/dotfiles/kmonad/legion-integrated.kbd
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
