[include]
	path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore
	editor = nvim
	attributesfile = ~/.gitattributes
	autocrlf = input
[push]
	default = simple
[rebase]
	autosquash = true
[advice]
	detachedhead = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
